{
  "presets": [
    "@vue/app",
    ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "import",
      {
        "libraryName": "element-ui",
        "libraryDirectory": "lib",
        "style": "theme-chalk"
      }
    ]
  ]
}
